.comics-container{
  display: flex;
  flex-wrap: wrap;
}

.comics-item{
  background-color: var(--color-light);
  width: 250px;
  margin: var(--spacing-large);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: 0.5s;
  cursor: pointer;
}
.comics-item:hover{
  transform: rotate(-3deg) scale(0.95);
  filter: saturate(150%);
}

.comics-name{
  display: flex;
  margin: auto;
  padding: var(--spacing-small) var(--spacing-medium);
}

.comics-img{
  width: 100%;
}